<a href="https://colab.research.google.com/github/aarda55/Ethnicity-predictor/blob/main/Ethnicity_prediction_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reads dataset
import pandas as pd

data = pd.read_csv('age_gender.csv')

data

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...
2250,13,0,1,20170109214425620.jpg.chip.jpg,23 10 4 1 4 15 39 59 78 91 98 106 112 121 127 ...
2251,13,3,1,20170109205242338.jpg.chip.jpg,112 49 56 51 45 41 43 48 53 70 85 85 86 87 89 ...
2252,13,0,1,20170109201615837.jpg.chip.jpg,77 54 34 26 32 41 70 96 105 116 125 129 135 14...
2253,13,0,1,20170109212934682.jpg.chip.jpg,100 108 110 110 116 123 129 163 162 152 143 19...
2254,13,0,1,20170104005742384.jpg.chip.jpg,142 149 127 98 93 96 103 116 131 141 148 158 1...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#useless data is discarded
data = data[['ethnicity' , 'pixels',]]

data

      ethnicity                                             pixels
0             2  129 128 128 126 127 130 133 135 139 142 145 14...
1             2  164 74 111 168 169 171 175 182 184 188 193 199...
2             2  67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3             2  193 197 198 200 199 200 202 203 204 205 208 21...
4             2  202 205 209 210 209 209 210 211 212 214 218 21...
...         ...                                                ...
2250          0  23 10 4 1 4 15 39 59 78 91 98 106 112 121 127 ...
2251          3  112 49 56 51 45 41 43 48 53 70 85 85 86 87 89 ...
2252          0  77 54 34 26 32 41 70 96 105 116 125 129 135 14...
2253          0  100 108 110 110 116 123 129 163 162 152 143 19...
2254          0  142 149 127 98 93 96 103 116 131 141 148 158 1...

[2255 rows x 2 columns]

In [ ]:
print(len(data))

2255

In [ ]:
X = []
y = []

In [ ]:
for features, label in data:
    X.append(features)
    y.append(label)

ValueError: ignored

In [ ]:
X = np.array(X).reshape(-1, 902, 5, 1)
y = np.array(y).reshape(-1, 902, 5, 1)
y.shape

(1, 902, 5, 1)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import os 
import cv2
import random
import pickle
import tensorflow as tf
from tensorflow.keras.datasets import cifar10
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.callbacks import EarlyStopping
import time
import pandas as pd
from keras.optimizers import SGD

#trains the model through 6 layers - optimized do not change
model = Sequential()

model.add(Conv2D(64, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(128, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Flatten()) 

model.add(Dense(128))
model.add(Activation('relu'))

model.add(Dropout(0.4))
model.add(Dense(128))
model.add(Activation('relu'))

model.add(Dense(64))
model.add(Activation('relu'))

model.add(Dense(8))
model.add(Activation('softmax'))

opt = SGD(learning_rate=0.01)
model.compile(loss='sparse_categorical_crossentropy',
              optimizer=opt,
              metrics=['accuracy'])

#converts data to array to bypass error - do not touch
X = np.array(X)
y = np.array(y)

#model is fitted with optimized variables
model_history = model.fit(X, y, batch_size=4, epochs=100, validation_split=0.3)

#model shows all data for developer analysis
print(model.summary()) 
pd.DataFrame(model_history.history).plot(figsize=(8,5))
plt.show()

ValueError: ignored