In [67]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


data = pd.read_csv('age_gender.csv')

data

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...
23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...
23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...

In [68]:
data = data[['ethnicity', 'pixels']]
data

       ethnicity                                             pixels
0              2  129 128 128 126 127 130 133 135 139 142 145 14...
1              2  164 74 111 168 169 171 175 182 184 188 193 199...
2              2  67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3              2  193 197 198 200 199 200 202 203 204 205 208 21...
4              2  202 205 209 210 209 209 210 211 212 214 218 21...
...          ...                                                ...
23700          0  127 100 94 81 77 77 74 99 102 98 128 145 160 1...
23701          1  23 28 32 35 42 47 68 85 98 103 113 117 130 129...
23702          2  59 50 37 40 34 19 30 101 156 170 177 184 187 1...
23703          2  45 108 120 156 206 197 140 180 191 199 204 207...
23704          0  156 161 160 165 170 173 166 177 183 191 187 18...

[23705 rows x 2 columns]

In [69]:
data.shape

(23705, 2)

In [70]:
data.describe().transpose()

             count      mean       std  min  25%  50%  75%  max
ethnicity  23705.0  1.269226  1.345638  0.0  0.0  1.0  2.0  4.0

In [71]:
X = []
y= []

In [72]:
X.append(data['pixels'])
y.append(data['ethnicity'])

In [73]:
X = np.array(X)
y = np.array(y)

In [74]:
X.shape

(1, 23705)

In [66]:
data['pixels']=data['pixels'].apply(lambda x:  np.array(x.split(), dtype="float32"))
data.head()

AttributeError: ignored

In [11]:
data['pixels'] = data['pixels'].apply(lambda x: x/255)

<ipython-input-11-ccef1b6b9980>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['pixels'] = data['pixels'].apply(lambda x: x/255)

In [59]:
48*48==len(data.pixels[3])

TypeError: ignored

In [58]:
 X = np.array(data['pixels'].tolist())
 X = X.reshape(X.shape[0],1,48,48)
y= y.reshape(y.shape[0],1,48,48)

ValueError: ignored

In [15]:
X.append(data['pixels'])
y.append(data['ethnicity'])

In [30]:
X = np.array(X)
y = np.array(y)

In [34]:
X.shape

(23705, 1, 48, 48)

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.layers import Conv2D, MaxPooling2D

X = tf.stack(X)
y = tf.stack(y)


#trains the model through 6 layers - optimized do not change
model = Sequential()

model.add(Conv2D(64, (3, 3), input_shape=(1, 48, 48), padding='same'))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2), padding='same'))

model.add(Flatten()) 

model.add(Dense(64))
model.add(Activation('relu'))

model.add(Dense(5))
model.add(Activation('softmax'))

model.compile(loss='sparse_categorical_crossentropy', 
              optimizer=Adam(learning_rate=0.001),
              metrics=['mean_absolute_error'])

#amount of epoches is manually optimized
model_history = model.fit(X, y, batch_size=4, epochs=20, validation_split=0.3)

#model shows all data for developer analysis
print(model.summary()) 
pd.DataFrame(model_history.history).plot(figsize=(8,5))
plt.show()

ValueError: ignored